$white: hsl(0, 0%, 100%);
$orange: hsl(25, 97%, 53%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);

* {
  font-family: 'Overpass', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
  box-sizing: border-box;

  body {
    background-color: $very-dark-blue;
    color: $light-grey;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    main {
        box-sizing: border-box;
        display: flex;

        .card {
            display: flex;
            flex-direction: column;
            width: 350px;
            background-color: $dark-blue;
            padding: 1.5rem 1.5rem 2rem 1.5rem;
            border-radius: 15px;

            img.star {
              width: fit-content;
              background-color: hsla(210, 19%, 21%, 1);
              border-radius: 50%;
              padding: .6rem;
            }

            img.center {
              align-self: center;
              width: fit-content;
              margin-top: 1.5rem;
              margin-bottom: 2rem;
            }

            h1 {
              font-size: 1.5rem;
              color: $white;
              margin: 1rem 0;
            }

            h2 {
              font-size: 1.8rem;
              color: $white;
              text-align: center;
              margin-top: 2rem;
              margin-bottom: 1rem;
            }

            p {
              line-height: 1.5rem;
            }

            p.orange-text {
              width: fit-content;
              margin: 0 auto;
              color: $orange;
              text-align: center;
              background-color: hsla(210, 19%, 21%, 1);
              padding: .5rem 1.5rem .1rem 1.5rem;
              border-radius: 25px;
            }

            p.center {
              text-align: center;
              padding: 0 0.2rem;
            }

            ul {
              display: flex;
              justify-content: space-between;
              margin: 1.5rem 0 1.5rem 0;

              li {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2.8rem;
                height: 2.8rem;
                font-size: .9rem;
                background-color: hsla(210, 19%, 21%, 1);
                border-radius: 50%;

                &.selected {
                  background-color: $medium-grey;
                  color: $white;
                }

                &:hover {
                  cursor: pointer;
                  background-color: $orange;
                  color: $white;
                }
              }

            }
            
            button {
              width: 100%;
              background-color: $orange;
              color: $white;
              font-size: .9rem;
              font-weight: 700;
              letter-spacing: 0.15rem;
              text-transform: uppercase;
              outline: none;
              border: none;
              border-radius: 25px;
              padding: .9rem 0;

              &:hover {
                background-color: $white;
                color: $orange;
                cursor: pointer;
              }
            }

        }
    }
  }
}

@media (min-width: 720px) { 
  * {
    font-size: 18px;

    body {
      main {
        .card {
          width: 400px;

          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
